<% page_title "Events" %>

<table class="scaffolded">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th width="0">Accepting proposals?</th>
    <th width="0">Accepting comments?</th>
    <th width="0">Deadline</th>
    <th>Manage</th>
  </tr>

<% if @events.blank? %>
  <tr>
    <td colspan="5" class="empty-text">
      &mdash; No events &mdash;
    </td>
  </tr>
<% end %>
<% for event in @events %>
  <tr class="<%= cycle("even", "odd") %>">
    <td><%=h event.id %></td>
    <td class="nowrap">
      <%= link_to h(event.title), [:manage, event] %>
    </td>
    <td><%=h event.accepting_proposals?.inspect %></td>
    <td><%=h event.accepting_proposal_comments?.inspect %></td>
    <td><%=h event.deadline.localtime.to_s(:db) %></td>
    <td class="nowrap smaller">
      <%= link_to 'Show', manage_event_path(event), :class => "showable" %>
      <%= link_to 'Proposals', event_proposals_path(event), :class => "showable" %>
      <%= link_to 'Edit', edit_manage_event_path(event), :class => "editable" %>
      <%= link_to 'Destroy', manage_event_path(event), :confirm => 'Are you sure?', :method => :delete, :class => :deletable %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New event', new_manage_event_path, :class => "addable" %>
