<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xmlns:b='http://www.google.com/2005/gml/b' xmlns:data='http://www.google.com/2005/gml/data' xmlns:expr='http://www.google.com/2005/gml/expr'>
<head>
  <script type="text/javascript">(function() { var a=window;function b(){this.t={};this.tick=function(e,f){this.t[e]=[(new Date).getTime(),f]};this.tick("start")}var c=new b;a.jstiming={Timer:b,load:c};if(a.external&&a.external.pageT)a.jstiming.pt=a.external.pageT;var d=false;function g(){if(!d){d=true;a.jstiming.load.tick("firstScrollTime")}}a.addEventListener?a.addEventListener("scroll",g,false):a.attachEvent("onscroll",g); })();</script>
  <meta content='true' name='MSSmartTagsPreventParsing'/>
  <meta content='blogger' name='generator'/>
  <title><%= SETTINGS.organization %>: <%= page_title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=us-ascii" />
  <meta name="description" content="Share Burning Ideas" />

  <%= auto_discovery_link_tag(:atom, proposals_feed_path, :title => "#{SETTINGS.organization}: Proposals feed") %>
  <% if admin? %>
    <%= auto_discovery_link_tag(:atom, comments_feed_path(:secret => CommentsController::SECRET), :title => "#{SETTINGS.organization}: Proposals comments feed") %>
  <% end %>

  <%= theme_stylesheet_link_tag "blogger" %>
  <%= stylesheet_link_tag "common" %>
  <%= theme_stylesheet_link_tag "custom" %>

</head>
<body>

<div class='navbar section' id='navbar'>
  <div class='widget Navbar' id='Navbar1'>
    <script type="text/javascript">
      function setAttributeOnload(object, attribute, val) {
        if(window.addEventListener) {
          window.addEventListener("load",
            function(){ object[attribute] = val; }, false);
        } else {
          window.attachEvent('onload', function(){ object[attribute] = val; });
        }
      }
    </script>
    <iframe src="http://www.blogger.com/navbar.g?targetBlogID=7246667325625199617&amp;blogName=Ignite+Corvallis&amp;publishMode=PUBLISH_MODE_HOSTED&amp;navbarType=TAN&amp;layoutType=LAYOUTS&amp;homepageUrl=http%3A%2F%2Fignitecorvallis.com%2F&amp;searchRoot=http%3A%2F%2Fignitecorvallis.com%2Fsearch" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" height="30px" width="100%" id="navbar-iframe" title="Blogger Navigation and Search"></iframe>
    <div></div>
  </div>
</div>
<div id='outer-wrapper'>
  <div id='wrap2'>
  <!-- skip links for text browsers -->
  <span id='skiplinks' style='display:none;'>
  <a href='#main'>skip to main </a> |
        <a href='#sidebar'>skip to sidebar</a>
  </span>
  <div id='header-wrapper'>
    <div class='header section' id='header'>
      <div class='widget Header' id='Header1'>
        <a href='http://ignitecorvallis.com/' id='header-inner' style='display:block; background-image: url("http://3.bp.blogspot.com/__DzYR3a_gKY/SXbkqPmOGsI/AAAAAAAAC7Y/cV2K4nVBrY8/S1600-R/header_ignite2.jpg"); background-repeat: no-repeat; width: 950px; height: 217px;'>
          <div class='titlewrapper' style='background: transparent'>
            <h1 class='title' style='background: transparent; border-width: 0px'>
            </h1>
            <p class='description'><span></span></p>
          </div>
        </a>
    </div>
  </div>
  <div id='menu'>
      <ul>
      <li><a href='http://ignitecorvallis.com/2008/10/what-is-ignite.html'>About</a></li>
      <li><a href='http://ignitecorvallis.com/search/label/video%20examples'>Watch</a></li>
      <li><a href='http://proposals.ignitecorvallis.com/'>Proposals</a></li>
      <li><a href='http://ignitecorvallis.com/search/label/agenda'>Agenda</a></li>
      <li><a href='http://ignitecorvallis.com/2008/02/sponsorships.html'>Sponsors</a></li>
      <li><a href='http://ignitecorvallis.com/2008/10/directions.html'>Directions</a></li>
      <li><a href='#'>Tickets</a></li>
      </ul>
  </div>
</div>
<div id='content-wrapper'>
  <div id='crosscol-wrapper' style='text-align:center'>
    <div class='crosscol section' id='crosscol'></div>
  </div>
  <div id='main-wrapper'>
    <div class="content">
      <div id="primary-wrapper">
        <div id="primary">
          <div id="notices"></div><a name="startcontent" id="startcontent"></a>

          <div id="dynamic-content">

            <div id="breadcrumbs">
              <% if @breadcrumbs %>
                <% @breadcrumbs.each_with_index do |breadcrumb, i| %>
                  <% txt, path = breadcrumb %>
                  <% if i > 0 %>
                    &#187;
                  <% end %>
                  <%= link_to(h(txt), path) %>
                <% end %>
              <% end %>
            </div>

            <div id="rollingcontent" class="hfeed">
              <div class="hentry post publish alt">
                <div class="entry-head">
                  <h3 class="post-title entry-title"><a><%= page_title %></a></h3>
                </div>
                <div class="entry-content">
                  <%# flash[:success] = "This test is for testing the notifications." %>
                  <%# flash[:failure] = "This test is for testing the notifications." %>
                  <%# flash[:notice] = "This test is for testing the notifications." %>
                  <%= notice %>
                  <%= yield %>
                </div>
              </div>
            </div><!-- #rollingcontent .hfeed -->
          </div><!-- #dynamic-content -->
        </div><!-- #primary -->
      </div><!-- #primary-wrapper -->
    </div>

<!--    <div class='main section' id='main'><div class='widget Blog' id='Blog1'>
      <div class='blog-posts hfeed'>
        <!-- google_ad_section_start -->
        <div class='post hentry uncustomized-post-template'>
        <h3 class='post-title entry-title'>
          Ignite Corvallis Proposals
        </h3>
        </div>
        <!-- google_ad_section_end -->
      </div>
    </div>
  </div>-->
</div>
<div id='sidebar-wrapper'>
  <div class='sidebar section' id='sidebar'>
    <div class='widget Feed' id='Feed2'>
        <div id="login-as" class="hoverable widget module module1 sb-login alt">
          <h2>Welcome</h2>
          <ul>
            <% if logged_in? %>
              <li><%= current_user.email || current_user.label %></li>
              <% if admin? %>
                <li><%= link_to "Manage events", manage_events_path %></li>
                <li><%= link_to "Manage snippets", manage_snippets_path %></li>
                <li><%= link_to "Manage comments", comments_path %></li>
                <% if @event %>
                  <li><%= link_to "Export CSV", "/events/#{@event.id}/proposals.csv" %></li>
                <% end %>
              <% else %>
                <% if @event.ergo.accepting_proposals? %>
                  <li>
                    <%= link_to "Submit a proposal <span class='addable' />", new_event_proposal_path(@event) %>
                  </li>
                <% end %>
              <% end %>
              <li><%= link_to "Logout", logout_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "Login to manage your proposals", login_path %></li>
              <% if @event.ergo.accepting_proposals? %>
                <li>
                  <%= link_to "Submit a proposal <span class='addable' />", new_event_proposal_path(@event) %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div id="subscribe-to" class="hoverable widget module module1 sb-subscribe alt">
          <h2>Subscribe to</h2>
          <ul>
            <li><%= link_to "Proposals feed <span class='feedable' />", proposals_feed_path %></li>
            <% if admin? %>
              <li><%= link_to "Comments feed <span class='feedable' />", comments_feed_path(:secret => CommentsController::SECRET) %></li>
            <% end %>
          </ul>
        </div>

        <div id="proposals-for" class="hoverable widget module module1 sb-proposals alt">
          <h2>Proposals for</h2>
          <ul>
            <% if @events.blank? %>
              <li class="empty-text">&mdash; No events &mdash;</li>
            <% else %>
              <% for event in @events %>
                <li><%= link_to event.title, event_proposals_path(event) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>

<!--      <h2>Login as</h2>
        <div class='widget-content'>
          <ul id='Feed2_feedItemListDisplay'>
            <li>
            <span class='item-title'>
            User login
            </span>
            </li>
          </ul>
        </div>
        <div class='widget Feed' id='Feed1'>
      </div> -->
    </div>
  </div>
</div>
<!-- <div id='sidebar-wrapper2'> <b:section class='sidebar2' id='sidebar3' preferred='yes' showaddelement='yes'/> </div> -->
<!-- spacer for skins that want sidebar and main to be the same height-->
<!-- end content-wrapper -->
<div id='footer-wrapper'>
<div class='footer section' id='footer'></div>
<a href='http://ignitecorvallis.com/'>Ignite Corvallis</a> &#169; 2009 | Design Customized by <a href='http://www.proworks.com'>ProWorks</a> | <%= link_to "Manage site", admin_path %>
</div>
</div></div>
  <!-- arbitrary javascript from views -->
  <script type="text/javascript">
    <%= yield :javascript %>
  </script>
<!-- end outer-wrapper -->
</body>
</html>
